@use "../../sass/" as *;

.order-list {
  display: flex;
  height: calc(100vh - 5.5rem);

  .order-div {
    margin-inline: auto;
  }
}
.order-loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
@media (max-width: 712px) {
  .order-list {
    padding-top: 5rem;
  }
}
