@use "../../../sass" as *;

.product-card-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5rem;
  :nth-child(1) {
    font-size: 1.7rem;
  }
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  @include xs-mobile {
    width: 30rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  @include hover-color;

  img {
    width: 25rem;
    align-self: center;
    padding-bottom: 0.5rem;
  }
  .icon {
    transition: 0.3s;
    margin-right: 4rem;
    @include hover-color;

    &:hover {
      scale: 1.1;
    }
  }
  p {
    font-size: 1.7rem;
  }
  :nth-child(4) {
    @include paragraph;
  }
  .first-image {
    z-index: 1;
    transition: 0.3s;
    &:hover {
      opacity: 0;
    }
  }
  .second-image {
    position: absolute;
  }
}
.text-white {
  color: white !important;
}
.product-price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    gap: 2.5rem;
    .on-sale {
      text-decoration: line-through;
    }
  }
}
.product-name-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    overflow: hidden;
    white-space: nowrap;
    max-width: 23rem;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    max-height: 1.2em;
  }
  div {
    display: flex;
    font-size: 1.3rem;
    gap: 0.3rem;
    color: #888; /* Example color */
  }
}
.star {
  color: orange;
  cursor: pointer;
}
