@use "../../../sass" as *;

.product-card-list {
}
.product-card {
  display: flex;
  flex-direction: column;
  img {
    width: 25rem;
    align-self: center;
    padding-bottom: 0.5rem;
  }
  .icon {
    transition: 0.3s;
    margin-right: 4rem;
    &:hover {
      color: $store-hover-red;
      scale: 1.1;
    }
  }
  p {
    font-size: 1.6rem;
  }
  :nth-child(4) {
    @include paragraph;
  }
  .first-image {
    z-index: 1;
    transition: 0.3s;
    &:hover {
      opacity: 0;
    }
  }
  .second-image {
    position: absolute;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      gap: 2.5rem;
      .on-sale {
        text-decoration: line-through;
      }
    }
  }
}
.text-white {
  color: white !important;
}
