// keyframes

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

// @keyframes up-down-spring {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
//   50% {
//     transform: translateY(-80px);
//   }
// }
@keyframes up-down-spring {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// animation classes

.animation-grow {
  animation: grow 0.4s ease-in-out;
}
.animation-grow-x {
  animation: grow-x 0.4s ease-in-out;
}
.animation-fade-in {
  animation: fade-in 0.4s ease-in-out;
}
.animation-slide-up {
  animation: up-down-spring 0.4s ease-in-out;
}
