@use "../../../sass" as *;

.search-bar {
  position: relative;
  .search-overlay {
    background-color: black;
    opacity: 0.95;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow-y: scroll;
    padding-top: 10rem;

    @include mobile {
      padding-top: 15rem;
      justify-content: start;
    }
    div {
      max-height: 80rem;
    }
  }
  .search-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .search-close {
    color: $store-hover-red;
    z-index: 3;

    cursor: pointer;
    position: fixed;
    right: 10%;
    top: 2%;
    @include mobile {
      top: 1.5rem;
      width: 5rem;
      height: 5rem;
    }
  }
  .search-icon {
    background-color: black;
    cursor: pointer;
    color: white;
  }
  input {
    background-color: rgb(246, 246, 246);
    padding: 1.5rem 2rem;
    width: 40rem;
    border-radius: 0.3rem;
    border: none;
    transition: 0.3s;
    font-size: 1.5rem;
    &:focus {
      outline: 1px solid red;
    }
    @include tablet {
      width: 90%;
    }
    @include mobile {
      margin-bottom: 2rem;
    }
  }
}
