* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

// globals

.btn {
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 10vh;
  padding: 1rem;
  border: none;
  color: white;
}
.btn-danger {
  background-color: rgb(160, 20, 20);
  &:hover {
    background-color: rgb(170, 20, 20);
  }
}
.btn-dark {
  background-color: rgb(0, 0, 0);
  &:hover {
    background-color: rgb(27, 27, 27);
  }
}
.btn-primary {
  background-color: rgb(2, 2, 159);
  &:hover {
    background-color: rgb(2, 2, 170);
  }
}
