@use "./sass/index" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
.Toastify__toast-body {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
}

// globals

.product-card-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5rem;
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 30rem;
  }
}

ul {
  list-style: none;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.container {
  width: 110rem;
  margin: 0 auto;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    padding-top: 15rem;
  }
}
.store-container {
  width: 120rem;
  margin: 0 auto;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    padding-top: 15rem;
  }
}
.images-arrow-active {
  color: blue;
}
.images-arrow {
  cursor: pointer;
}
.btn {
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  min-width: 10vh;
  min-height: 3.8vh;
  padding: 1rem;
  border: none;
  color: white;
  transition: background-color 0.3s;
}
.btn-danger {
  background-color: rgb(160, 20, 20);
  &:hover {
    background-color: rgb(170, 20, 20);
  }
  &:active {
    opacity: 0.6;
  }
}
.btn-primary {
  background-color: $primary-color;
  &:hover {
    background-color: hsl(224, 64%, 25%);
  }
  &:active {
    opacity: 0.9;
  }
}
.flex {
  display: flex;
  gap: 1rem;
}
