*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
button.btn-delete{
    background-color: rgb(160, 20, 20);
    cursor: pointer;
}
button{
    cursor: pointer;
    border-radius: .5rem;
}
