@use "../../sass/" as *;

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  min-height: 6vh;
  .header-container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger {
      display: none;
    }
  }
  ul {
    display: flex;
    gap: 2rem;
  }
  li {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
  nav {
    li {
      text-decoration: none;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(101%);
      }
    }
  }
}
.logo {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    font-size: 1.4rem;
    color: white;
    margin-top: -1rem;
  }
  img {
    color: white;
  }
}
@media (max-width: 1134px) {
  .header {
    .header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding-bottom: 0.5rem;
    }
    ul {
      align-items: center;
    }
  }
}
@media (max-width: 712px) {
  .header {
    .header-container {
      flex-direction: row;
      justify-content: start;
      width: 90%;
      gap: 1rem;
      .hamburger {
        display: block;
        color: white;
        cursor: pointer;
      }
    }
    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      padding-block: 2rem;
      top: 6rem;
      left: 10%;
      z-index: 1;
      width: 20rem;
      border-radius: 1rem;
      background-color: $primary-color;
      transition: opacity 1s;
      li {
        transition: 0.2s;
        border-bottom: 1px solid transparent;
        font-size: 2.2rem;
        &:hover {
          border-bottom: 1px solid white;
          transform: none;
        }
      }
    }
  }
}
.show {
  display: flex !important;
}
