@use "../../colors" as *;

.new-product {
  margin: 0 auto;
  width: 40%;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-block: 1.5rem;
    font-weight: 600;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      width: 100%;
    }
    input {
      font-size: 1.5rem;
      padding: 1.4rem;
      border-radius: 0.3rem;
      border: 1px solid black;
      margin-block: 0.5rem;
      width: 100%;
    }
    input::placeholder,
    textarea::placeholder {
      font-size: 1.4rem;
    }
    textarea {
      resize: none;
      width: 100%;
      border-radius: 0.3rem;
      padding: 1rem;
      font-size: 1.5rem;
      font-family: "Poppins", sans-serif;
    }
    .added {
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
      color: rgb(58, 50, 208);
      margin-block: -1rem;
      margin-bottom: -2.5rem;
    }
  }
}
.product-loader {
  margin-top: 1rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 900px) {
  .new-product {
    form {
      min-width: 30rem;
      margin-left: -5rem;
    }
  }
}
