.edit-product {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
  width: 35vw;

  img {
    height: 30vh;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
  }
  input,
  textarea {
    font-size: 1.5rem;
    padding: 1.4rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    resize: none;
    font-family: "Poppins", sans-serif;
  }
  label {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.removed {
  text-align: center;
  font-size: 2rem;
  margin-top: 30rem;
}
.removed-link {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}
a {
  color: black;
}
.product-details {
  display: flex;
  justify-content: center;
}

.details-container {
  display: flex;
}
.product-img {
  height: 40vh;
  position: relative;
  left: 40%;
}
.product-buttons {
  display: flex;
  gap: 5rem;
  margin-block: 2rem;
  .btn-save {
    background-color: rgb(2, 2, 159);
  }
}
@media (max-width: 1134px) {
  .img-figure {
    width: 20vw;
    img {
      object-fit: fill;
    }
  }
  .product-details {
    justify-content: flex-start;

    .edit-product {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
    }
    .product-buttons {
      
    }
  }
}